//// Variables
$pink: #EE4793;
$light-pink: #F3A4CB;
$lighter-pink: #f7d4e5;
$lightest-pink: #fff2f8;
$medium-grey: #555;

$primary: $pink;
$secondary: $light-pink;

$enable-rounded:              true;
$border-radius:               1rem;

$body-bg: $lightest-pink;
$breadcrumb-bg: $lighter-pink;


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Vibur&display=swap');
// Fonts - use Import if you want the fonts displayed in TinyMCE as well
$font-family-sans-serif: Itim, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-family: Vibur;

// Font colors
$headings-color: $primary;
$body-color: $medium-grey;

// Font sizes
$font-size-base:              1rem;
$h1-font-size:                $font-size-base * 3;
$h2-font-size:                $font-size-base * 2.5;


//// Imports
// Import barceloneta files from node_modules --load-path=node_modules
@import "@plone/plonetheme-barceloneta-base/scss/barceloneta.scss";

// Add your styles here

//// Styles

// Search Button
.searchButton.btn.btn-secondary {
    border-radius: 0 $border-radius $border-radius 0 ;
}

// Navbar & Breadcrumbs
.navbar {
    border-radius: $border-radius $border-radius 0 0 ;
}
#plone-breadcrumb {
    @include border-bottom-radius($border-radius);
}
#portal-header {
    align-items: end;
}

